// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;
  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Brand colours
$brown:#be812e;
$green:#8e8925;
$purple:#664e66;
$darkgrey:#545454;
$black:#626262;;
$grey:#ccc;


@mixin purpleTint() {

background-color: rgba($purple, 0.3);
}

@mixin kill-list() {
	 .menu  , ul , li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}



@mixin tab-radius($radius) {
-webkit-border-top-left-radius: $radius;
-webkit-border-top-right-radius: $radius;
-moz-border-radius-topleft:  $radius;
-moz-border-radius-topright:  $radius;
border-top-left-radius:  $radius;
border-top-right-radius: $radius;
}

@mixin buttonhover($colour) {
	background: $colour;
	transition: background 0.05s ease 0s;
	&:hover {text-decoration: none;
		background: darken($colour, 15%);
		text-decoration: none!important;
		cursor: pointer
	}
	&:active {
		background: darken($colour, 30%);
		transition: all 0.1s linear;
		text-decoration: none!important;
		cursor: pointer
	}
}


@mixin btn($fontsize) {
	@include open-reg;
	text-transform:uppercase;
	font-size: $fontsize;
	color: #fff;
	border:none;
	outline:none;
	display: inline-block;
	padding: 0.33em 0.66em;
	@include border-radius(0);
	text-decoration: none!important;
	@include buttonhover($purple);
}



@mixin icon-font($content) {
	content: $content;
    font-family: 'icons';
	font-size:36px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





@media (min-width:1200px){
    .col-lg-1:nth-child(12n+1){clear:left;}
    .col-lg-2:nth-child(6n+1){clear:left;}
    .col-lg-3:nth-child(4n+1){clear:left;}
    .col-lg-4:nth-child(3n+1){clear:left;}
    .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .col-md-1:nth-child(12n+1){clear:left;}
    .col-md-2:nth-child(6n+1){clear:left;}
    .col-md-3:nth-child(4n+1){clear:left;}
    .col-md-4:nth-child(3n+1){clear:left;}
    .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .col-sm-1:nth-child(12n+1){clear:left;}
    .col-sm-2:nth-child(6n+1){clear:left;}
    .col-sm-3:nth-child(4n+1){clear:left;}
    .col-sm-4:nth-child(3n+1){clear:left;}
    .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .col-xs-1:nth-child(12n+1){clear:left;}
    .col-xs-2:nth-child(6n+1){clear:left;}
    .col-xs-3:nth-child(4n+1){clear:left;}
    .col-xs-4:nth-child(3n+1){clear:left;}
    .col-xs-6:nth-child(odd){clear:left;}
}






/*/ === FORM CONTROL === /*/


.form-control:not(.form-file):not(.form-select)  ,
input.form-text ,
input.form-autocomplete  {
	border-color: $purple;
	color: $black;
	border-radius: 3px;
	  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	box-shadow: none !important;
	.form-search   & {
		border-color: $purple;
		color: $purple;
        border-radius: 3px 0 0 3px
	}
}

.input-group-btn {
	border-radius: 0;
	color: $purple;
	background: #fff
}

.field-name-field-document-link   a,
		.pager li > a,
		.pager li > span  ,
.more-link ,
.btn,
.btn-default,
.btn-sm,
.btn-primary ,
button {
	@include open-reg;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: $purple;
	background:#fff; 
	border: 1px solid $purple;
	border-radius: 3px;
	text-decoration: none!important;
	margin: 1em 0;
    padding: 0.33em 0.66em;
	&:visited {color: $purple!important;}
	&:hover   {
		color: #fff!important;
		background-color: $purple;
		border-color: $purple;
		text-decoration: none;
	}
	&:active {
		color: #fff!important;
		background: $black!important;
		border-color: $black!important;
		text-decoration: none!important;
	}
	.form-search &,
	.image-widget & {
		font-size: 14px;
		margin: 0;
		border-left: none
	}
	.image-widget & {
		border-color: black;
	}
	.form-search & {
		color: #fff;
		background-color:  $purple;
		border-color: $purple;margin-top:0;border-radius:  0 3px 3px  0;
        
		&:hover,
		&:active {
			color: #fff;
		background-color: $black;
			border-color: $black;
		}
	}
    .views-exposed-form & {font-size: 14px;}
}

/*/ === LEAFLET map === /*/


/*/  ---  clusters ----  /*/

$base-color: #a1c61a;


.marker-cluster-small {
	background-color: rgba($base-color, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba($base-color, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba($base-color, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba($base-color, 0.6);
	}

.marker-cluster-large {
	background-color: rgba($base-color, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba($base-color, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: $base-color;
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: $base-color;
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: $base-color;
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: $base-color;
	}

.leaflet-oldie .marker-cluster-large {
	background-color: $base-color;
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: $base-color;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
    	    font-family: 'Open Sans', sans-serif;
    font-size:14px;
        color:#fff;
        font-weight: 700;
    
	}
.marker-cluster span {
	line-height: 30px;
	}


/*/ === Hamburger === /*/

.navbar-default .navbar-toggle {
    border: none;
    border-radius: 0;
    margin-right: 10px;
    padding: 0px 10px 6px 4px;
    .icon-bar {
        height: 5px;
        margin: 5px 0;
        width:36px;
        @include purpleTint();
        border-radius: 5px;
    }
    &:hover {
        background:transparent;
        .icon-bar {
            background: $purple;
        }
    }
    &:active {
        background: transparent!important;

    }
}

/*/ === Fancy dancing hamburger === /*/

$speed: 100ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.navbar-toggle {
    overflow: hidden;
    .icon-bar {
        transition: opacity, transform;
        transition-duration: $speed;
        transition-timing-function: $easing;
    }
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                transform: translateY(10px) rotate(45deg);
            }
            &:nth-child(3) {
                opacity: 0;
                transform: translateX(-100%);
            }
            &:nth-child(4) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }    
}